NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=60000

API_GATEWAY_PORT=3000
AUTH_SERVICE_PORT=3001
CART_SERVICE_PORT=3002
CATALOG_SERVICE_PORT=3003
INVENTORY_SERVICE_PORT=3004
NOTIFICATION_SERVICE_PORT=3005
ORDER_SERVICE_PORT=3006
PAYMENT_SERVICE_PORT=3007
ANALYTICS_SERVICE_PORT=3008
